*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(236, 236, 236);
    

}
.tabla-paises{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.js-celda{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(209, 209, 209);
    padding: 1em 0;
}

.tabla-paises{
    margin: 1em 1em 0 1em;
}

.encabezado-buscador{
    text-align: center;
    padding-top: 1em;
}

.modal{
    padding: 1em;
    width: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: auto;
}

dialog p{
    margin-bottom: 0.5em;
}